.backdrop {
  background: #f2f2f2;
  height: 100%;
  left: 0px;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10000;
}

.pinterest-context-dialog {
  background-color: #fcf9f9;
  box-shadow: 0 3px 6px rgba(34, 25, 25, 0.4);
  height: auto;
  left: 50%;
  margin-left: -325px;
  margin-top: -135px;
  padding: 0;
  position: fixed;
  top: 50%;
  width: 650px;
  z-index: 10001;
}

.pinterest-context-dialog-header {
  display: block;
  background: -moz-linear-gradient(center top , #fffcfc, #f0eded) repeat scroll 0% 0% transparent;
  border-bottom: 1px solid #cccaca;
  padding: 18px 31px 8px;
  position: relative;
}

.pinterest-context-dialog-header-text {
  color: #8c7e7e;
  font-family: "helvetica neue",arial,sans-serif;
  font-size: 21px;
  line-height: 1em;
  margin: 0;
  padding: 0px 0px 8px;
  text-shadow: white 0px 1px 0px;
}

.pinterest-context-dialog-close {
  -moz-box-shadow: inset 0 1px 1px #fff;
  border-left: 1px solid rgba(34, 25, 25, 0.15);
  height: 55px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 57px;
}

.pinterest-context-dialog-close:hover {
  background-color: #ebe8e8;
  background: -moz-linear-gradient(#f9f6f6, #ebe8e8);
}

.pinterest-context-dialog-close:active {
  -moz-box-shadow: inset 0 1px 1px rgba(34,25,25,0.5), 0 1px #b22d00;
  background-color: #c21f24;
  background: -moz-linear-gradient(#d62228, #c21f24);
}

.pinterest-context-dialog-close span {
  background: url(resource://pinterest-context/close.png) no-repeat scroll center top transparent;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.pinterest-context-dialog-close span:hover {
  background-position: center;
}

.pinterest-context-dialog-close span:active {
  background-position: bottom center;
}

.pinterest-context-dialog-frame {
  display: none;
  border: 0px;
  height: 270px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.growing-body {
  -moz-transition: height 0.5s ease-out;
  height: 100px;
  overflow: hidden;
}
